global
  maxconn 20000
  nbthread 1
  hard-stop-after 1s
  tune.bufsize 8192 # reduced from 16384, fraud payloads are small
  tune.http.maxhdr 50 # default 101 is wasteful

defaults
  mode http
  maxconn 20000
  timeout connect 50ms
  timeout client 5s
  timeout server 5s
  timeout http-request 2s
  timeout http-keep-alive 30s
  option http-keep-alive
  option tcp-smart-accept
  option tcp-smart-connect
  option forwardfor off # disabled if you don't need client IP logging
  option http-server-close # more aggressive connection reuse

frontend rinha
  bind *:9999
  option http-buffer-request # buffer full request before sending to backend
  default_backend api

backend api
  balance roundrobin
  http-reuse always
  server api1 unix@/tmp/sockets/api1.sock maxconn 5000
  server api2 unix@/tmp/sockets/api2.sock maxconn 5000
