global
maxconn 20000
nbthread 1
hard-stop-after 1s
tune.bufsize 16384

defaults
mode http
maxconn 20000
timeout connect 50ms
timeout client 10s
timeout server 10s
timeout http-request 2s
timeout http-keep-alive 60s
option http-keep-alive
option tcp-smart-accept
option tcp-smart-connect

frontend rinha
bind *:9999
default_backend api

backend api
balance roundrobin
http-reuse always
server api1 unix@/sockets/api1.sock maxconn 5000
server api2 unix@/sockets/api2.sock maxconn 5000
